# devcontainer
.devcontainer/.env
.docker/
.devcontainer/docker/keycloak/realms/*
!.devcontainer/docker/keycloak/realms/.gitkeep

# git
temp/
!temp/.gitkeep

# frontend
node_modules

# backend
build/
.gradle

keycloak-book-jp/