<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div>
        <h2>Token Ops</h2>
            <form method="POST">
                <div>
                    <input type="submit" value="Get Token" th:formaction="@{/auth}" />
                </div>
            </form>
        <h2>APIs</h2>
        <form method="POST">
            <input type="submit" value="Health API" th:formaction="@{/call-health}" />
        </form>
        <div>API Response =</div>
        <pre th:text="${apiResponse}"></pre>
    </div>
</body>

</html>